.u-visibility-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}
.u-br {
  display: inline-block;
}

.u-main-txt {
  line-height: 2;
}
.u-txt-small {
  font-size: calc(6px / 16px) * 1rem;
}
